#fields {


    height: 800px;
    overflow: scroll;
    width: 510px;
    padding: 20px;
    border-color: rgb(187, 180, 180);
    border-style: solid;
    border-width: 1px;
    padding-top: 0px;

}
.fields_control_style input,select{
    margin: 3px;
    width: 80%;
}


.fields_control_style {
    padding: 10px;
    // width: 530px;
    border-color: rgb(187, 180, 180);
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}
.fields_control_style .div_meta{
    float: left;
    width: 50%;
    padding: 2px;
}
.fields_control_style .div_custom{
    padding: 2px;
    float: left;
    width: 45%;
    border-left: dotted 1px;
}
.fields_control_style label {
    display: inline-block;
    padding: 5px;
    min-width: 100px;

}
.fields_control_style span {
    display:block;
    width:100px;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
}

#fields_control {
    padding: 10px;
    width: 530px;
    border-color: rgb(187, 180, 180);
    border-style: solid;
    border-width: 1px;
    display: inline-block;
}
#fields_control label {
    display: inline-block;
    padding: 5px;
    min-width: 100px;

}
#fields_control span {
    display:block;
    width:100px;
    height: 100%;
    margin: 0 auto;
    padding: 5px;
}
#fields_control .div1 {
    width: 70%;
    float:left;
}
#fields_control .div2 {
    width: 30%;
    float:left;
}
#fields_control .div_meta label {
    display: inline-block;
    padding: 0px; 
    min-width: 100px;
}
#order_fields { list-style-type: none; margin: 0; padding: 0; width: 500px; }
#output_preview {border-color:green; border-style: dashed;    border-width: 1px; display:none; width:90% }
.spit-settings-cols {width:20px}

/*.mapping_row{
    display:table-row;
    border-spacing: 5px 20px;
    border-top:thin solid black;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -khtml-border-radius:5px;
}*/
.mapping_header{
    display:table-row;
    font-weight:bold;
}
.mapping_col_1{
    display:table-cell;
    width:50px;
    padding: 3px;
}
.mapping_col_2{
    display:table-cell;
    width:150px;
}
.mapping_col_3{
    display:table-cell;
    padding: 3px;
}
.mapping_fieldname {
    width:100%;
    font-weight: normal;
}

.select2-search__field:focus
{
    border-color: rgba(30,140,190,0) !important;
    border:none;
    -webkit-box-shadow: 0 0 2px rgba(30,140,190,0) !important;
    box-shadow: 0 0 2px rgba(30,140,190,0) !important;
}

.select2-search__field{
    border-color: rgba(30,140,190,0) !important;
    border:none;
    -webkit-box-shadow: 0 0 2px rgba(30,140,190,0) !important;
    box-shadow: 0 0 2px rgba(30,140,190,0) !important;
}

input.date{
    width: 25%;
}

.mapping_row {
    background-color: #E0E0E0;
    /*padding: 7px;*/
    border: 1px #969696 solid;
}

#sort_products,#sort_coupons{
    list-style-type: none;  
}

.btn-edit{
    padding: 2px 3px!important;
}
.btn-trash{
    padding: 2px 3px !important;
}


.padding-10{
    padding: 10px;
}

.run-at{
    width: 180px;
    float: left;
}
.weekday label {
    width: 10px;
    float: left;
    margin: 0px 15px;
    font-weight: bold;
}
.weekday {
    float: left;
}

.wc-oe-header{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 5px;
}
.wc_oe-select-interval{
    width: 150px;
}


.clearfix:before,
.clearfix:after,
.wc_oe-row:after{
    content:"";
    display:table;
}
.clearfix:after,
.wc_oe-row:after{
    clear:both;
}
.clearfix,
.wc_oe-row:after{
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

.wc-oe-schedule-type{
    float: left;
}
#custom_interval{
    display: none;   
}

#schedule-1{
    margin-top: 8px;
}
#schedule-2{
    margin-top: 8px;
}
.ftp-settings label{
    display: block;
}
.ftp-settings .wc_oe-inline{
    width:80px;
    display: inline;
}
.tr-pad{
    vertical-align: top;
}
#d-schedule-2{
    padding-bottom: 10px;
}
.padding-bottom-10 {
    padding-bottom: 10px;
}
.width-100{
    width: 100%;
}
.set-estination{
    display: none;
}

.wc_oe-row {
    margin: 7px;
}
.col-50pr{
    float: left;
    width: 50%;
}
.col-100pr{
    float: left;
    width: 100%;
}

.all-input-100pr input[type="text"]{
    width: 100%;
}
.hide-destination{
    text-align: center;
    width: 100%;
}

.xml-title{
    display: inline-block;
    width: 75px;
}

.my-block{
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    border-color: #ccc;
    padding: 10px 5px 10px 10px;
}

.my-test-button{
    border-width: 1px !important;
    border-style: solid !important;
    border-radius: 3px !important;
    border-color: #ccc !important;
    margin-left: 0px !important;
}

.my-icon-triangle{
    vertical-align: middle;
    display: inline-block;
}
.my-hide-next{
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
}

.my-manage-li{
    display: inline-block;
    width: 47%;
}

.my-manage-li:nth-child(2n){
    margin-left: 10px;
    float: right;
}
#my-quick-export-btn{
    display: inline-block !important;
    margin-left: 10px !important;
}

#add_attributes,#add_locations{
    font-size: large;
}

.select2-selection--single{
    margin-bottom: 5px;
}

#text_attributes, #text_locations{
    width: 120px;
}
.dashicons{
    margin-top: 3px;
}

#progress_div{
    z-index: 10001;
    position: absolute;
    top: 50%;
    left: 35%;
}

#progressBar {

    width: 400px;
    background: #292929;
    border: 1px solid #111;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px #333;

}

#progressBar div {
    height: 100%;
    color: #fff;
    text-align: right;
    font-size: 12px;
    line-height: 22px;
    text-align: right;
    background-color: #1a82f7;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0099FF), to(#1a82f7));
    background: -webkit-linear-gradient(top, #0099FF, #1a82f7);
    background: -moz-linear-gradient(top, #0099FF, #1a82f7);
    background: -ms-linear-gradient(top, #0099FF, #1a82f7);
    background: -o-linear-gradient(top, #0099FF, #1a82f7);
}

#background.loading{
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #F1F1F1;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=55);
    -moz-opacity: 0.55;
    -khtml-opacity: 0.55;
    opacity: 0.55;
}